In [3]:
a = "10"
x = "20"

#display a:
print(a)

#display the data type of a:
print(type(a)) 
a = 20

#display x:
print(x)

#display the data type of x:
print(type(x)) 
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x)) 
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

10
<class 'str'>
20
<class 'str'>
20.5
<class 'float'>
['apple', 'banana', 'cherry']
<class 'list'>